<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 	http://www.springframework.org/schema/aop 
	 	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     	http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id="packageInfoDao" class="com.lodogame.game.dao.impl.mysql.PackageInfoDaoMysqlImpl"></bean>

	<bean id="activeCodeDao" class="com.lodogame.game.dao.impl.mysql.ActiveCodeDaoMysqlImpl"></bean>

	<bean id="packageSettingsDao" class="com.lodogame.game.dao.impl.mysql.PackageSettingsDaoMysqlImpl"></bean>
	<bean id="packageExtinfoDao" class="com.lodogame.game.dao.impl.mysql.PackageExtinfoDaoMysqlImpl"></bean>
	<bean id="noticeDao" class="com.lodogame.game.dao.impl.mysql.NoticeDaoMysqlImpl"></bean>
	<bean id="dataFileSignDao" class="com.lodogame.game.dao.impl.mysql.DataFileSIgnDaoMysqlImpl"></bean>
	<bean id="paymentOrderDao" class="com.lodogame.game.dao.impl.mysql.PaymentOrderDaoMysqlImpl"></bean>
	<bean id="versionServerDao" class="com.lodogame.game.dao.impl.mysql.VersionServerDaoMysqlImpl"></bean>
	<bean id="serverStatusDaoMysqlImpl" class="com.lodogame.game.dao.impl.mysql.ServerStatusDaoMysqlImpl"></bean>
	<bean id="serverStatusDao" class="com.lodogame.game.dao.impl.cache.ServerStatusDaoCacheImpl">
	<property name="serverStatusDaoMysqlImpl" ref="serverStatusDaoMysqlImpl"></property>
	</bean>
	
</beans>