{% extends "master.html" %}
{% load common_extras %}
{% block head_ext %}
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<meta http-equiv="content-type" content="text/html; charset=utf8" />
<script type="text/javascript">
     
   
  $(document).ready(function(){
  
	  $('input.search').click(function(){
     
		 var server_id = $('#server_id').val();
		 var start_date = $('#start_date').val();
		 var end_date = $('#end_date').val();
		 var amount = $('#amount').val();
		 var to_excel = $(this).attr("to_excel");
         if(!server_id){
            alert("请选择服务器");
         }else{
            var url = "{% url user-use-gold-rank %}?server_id=" + server_id + "&to_excel=" + to_excel + "&start_date=" + start_date + "&end_date=" + end_date + "&amount=" + amount
		    window.location = url;
         }
         
	  });
	  
  });
  
</script>
{% endblock %}
{% block title %}用户金币消耗排行{% endblock %}
{% block content %}
{% include "inc/server_select.html" %}
开始日期:<input type="text" id="start_date" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate" style="width: 110px" value="{{start_date}}"/>
结束日期:<input type="text" id="end_date" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="Wdate" style="width: 110px" value="{{end_date}}"/>
最小元宝:<input type="text" id="amount" value="{{amount}}" />
<input type="button" class="search" to_excel=0 value="查找"/>
<input type="button" class="search" to_excel=1 value="导出excel"/>
<br/>

<table cellspacing="1" class="tablesorter">
  <thead>
    <th>玩家排名</th>
    <th>玩家名称</th>
    <th>玩家ID</th>
    <th>消耗金币</th>
  </thead>
  <tbody>
    {% if infos %}
        {% for info in infos %}
          <tr>
           <td>{{ forloop.counter }}</td>
           <td>{{ info.username }}</td>
           <td>{{ info.lodo_id }}</td>
           <td>{{ info.amount }}</td>
          <tr>
        {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}