<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="Copyright" content="This site's design and contents Copyright &copy; Kingsoft." />
    <meta name="keywords" content="Kingsoft, Webauth" />
    <meta name="description" content="Kingsoft Cloud Security is a excellent information security tool for all of you." />    
    
    <link href="/site_media/css/base.css" rel="stylesheet"/>
    <script src="/site_media/js/jquery/jquery.min.js"></script>
    <script src="/site_media/js/jquery/jquery.utils.min.js"></script>
    <script src="/site_media/js/base.js"></script>
    <script src="/site_media/js/menu.js"></script>
    <script src="/site_media/js/page.js"></script>
    <script src="/site_media/js/My97DatePicker/newDate_WdatePicker.js"></script>
    <title></title>
	
</head>
<body>
<div id="container">
    aaaa
</div>
</body>
</html>
