{% extends "master.html" %}
{% load common_extras %}
{% block head_ext %}
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<meta http-equiv="content-type" content="text/html; charset=utf8" />
<script type="text/javascript">
     
  service = new rpc.ServiceProxy("/services/activity/", {asynchronous:true, methods: ['sync_system_mall_discount', ]});
       
  $(document).ready(function(){
   
        $('#start_sync_button').attr("disabled", "");
   
       	$('#start_sync_button').click(function(){
      
            var did = $('#did').val();
           
            if(confirm("确定要同步到游戏服务器吗?")){
            
	            $('#start_sync_button').attr("disabled", "disbaled");
	      
	            service.sync_system_mall_discount({
		       		params:[did],
		       		onSuccess:function(datas){
		       		    if(datas[0] == -1){
		       		       alert("没有正式服发布权限");
		       		    }else{
		       			   $('#result').html(datas[1]);
		       		    }
		       		},
			   		onException:function(e){
			   			$('#start_sync_button').attr("disabled", "");			
			   			alert("Web server error: because " + e.message);
			   		}
				});
		    }

	    });
   
  });
  
</script>
{% endblock %}
{% block title %}发布到游戏服务器{% endblock %}
{% block content %}
<input id="did" type="hidden" value="{{did}}"/>
<input id="start_sync_button" type="button" value="发布到游戏服"/>
服务器:{{system_mall_discount.server_ids}}
<span id="result">

</span>
<table cellspacing="1" class="tablesorter">
  <thead>
    <th>序号</th>
    <th>商品名称</th>
    <th>商品价格</th>
    <th>折扣</th>
    <th>打折后价格</th>
  </thead>
  <tbody>
    {% if infos %}
      {% for info in infos %}
       <tr>
         <td>{{ forloop.counter }}</td>
         <td>
            {{ info.name }}
         </td>
         <td>
           {{ info.amount }}({% ifequal info.money_type 1 %} 元宝 {% else %} 银币 {% endifequal %})
         </td>
         <td>
           {{info.discount}}%
         </td>
         <td>
           {% ifnotequal info.discount 100%}
               <font color="green">{{ info.discount_price }}</font>
           {% else %}
               {{ info.discount_price }}
           {% endifnotequal %} 
         </td>
       </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}