{% extends "master.html" %}
{% load common_extras %}
{% block head_ext %}
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<meta http-equiv="content-type" content="text/html; charset=utf8" />
<script type="text/javascript">
        
  $(document).ready(function(){
  
      genPageLinks({{total}}, {{pagesize}});
	
	  $('input.search').click(function(){
     
		 var name = $('#name').val();
		 var use_type = $('#use_type').val();
		 var flag = $('#flag').val();
		 var server_id = $('#server_id').val();
		 var start_time = $('#start_time').val();
		 var end_time = $('#end_time').val();
		 var tool_type = $('#tool_type').val();
		 var tool_id = $('#tool_id').val();
         if(!name){
            alert("请输入用户ID或者角色名");
         }else if(!server_id){
            alert("请选择服务器");
         }else{
            var url = "{% url user-tool-use-log %}?name=" + name + "&server_id=" + server_id + "&start_time=" + start_time + "&end_time=" + end_time + "&tool_type=" + tool_type;
		    url += "&use_type=" + use_type + "&flag=" + flag + "&tool_id=" + tool_id;
		    window.location = url;
         }
         
	  });
	  
  });
  
</script>
{% endblock %}
{% block title %}用户道具日志查询{% endblock %}
{% block content %}
请输入用户ID或者用户昵称:<input type="text" name="name" id="name" value="{{name}}"/>{% include "inc/server_select.html" %}
开始时间:<input type="text" id="start_time" name="start_time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="Wdate" style="width: 140px" value="{{start_time}}"/>
结束时间:<input type="text" id="end_time" name="end_time" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="Wdate" style="width: 140px" value="{{end_time}}"/>
消费/获得:
<select id="flag" name="flag">
     <option value="0" {%ifequal flag 0 %}selected=selected{%endifequal%}>全部</option>
	 <option value="-1" {%ifequal flag -1 %}selected=selected{%endifequal%}>花费</option>
	 <option value="1" {%ifequal flag 1 %}selected=selected{%endifequal%}>获得</option>
</select>
使用类型:
<select id="use_type" name="use_type">
	 <option value="0">所有</option>
	 {% for t in use_type_list %}
	    <option value="{{t}}" {%ifequal t use_type %}selected=selected{%endifequal%}>{{t|use_type_name}}</option>
	 {% endfor %}
</select>
道具类型:
<select id="tool_type" name="tool_type">
	 <option value="0">所有</option>
	 {% for t in tool_type_list %}
	    <option value="{{t}}" {%ifequal t tool_type %}selected=selected{%endifequal%}>{{t|tool_type_name}}</option>
	 {% endfor %}
</select>
道具ID:
<select id="tool_id" name="tool_id">
	 <option value="0">所有</option>
	 {% for t in tool_id_infos %}
	    <option value="{{t.tool_id}}" {%ifequal t.tool_id tool_id %}selected=selected{%endifequal%}>{{t.tool_name}}</option>
	 {% endfor %}
</select>
<input type="button" class="search" value="查找"/> <br/>
<table cellspacing="1" class="tablesorter">
  <thead>
  	<th>道具类型</th>
  	<th>道具名称</th>
  	<th>道具数量</th>
  	<th>使用类型</th>
  	<th>消费/获得</th>
  	<th>时间</th>
  	<th>额外信息</th>
  </thead>

 <tbody>
 	{% if infos %}
 	{% for info in infos %}
 	<tr>
 		<td>{{ info.tool_type|tool_type_name}} </td>
 		<td>{{ info.tool_name}} </td>
 		<td>{{ info.tool_num}} </td>
 		<td>{{ info.use_type|use_type_name}} </td>
 		<td>{{ info.flag|flag_name|safe}} </td>
 		<td>{{ info.created_time }} </td>
 		<td>{{ info.extinfo }}</td>
 	</tr>
 	{% endfor %}
 	{% endif %}
  <tr style="display:none"><td id="pageLink" colspan="12"></td></tr>
  </tbody>
</table>
{% endblock %}